.dropdown-hover .dropdown-toggle:hover + .dropdown-menu {
  display: block;
}

.navbar-brand img {
  max-height: 120px;
  max-width: auto;
}

.navbar-nav .nav-link {
  margin-left: 10px;
  color: #9b2121 !important;
  box-shadow: 0 2px 4px #9b2121;
}

/*--> index <--*/
h1 {
  text-align: center;
  background-color: #9b2121;
  color: #ffffff;
  padding: 5px;
  margin-top: 30px;
}

.h2 {
  text-align: center;
  background-color: #9b2121;
  color: #ffffff;
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px #9b2121;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product p {
  margin-bottom: 10px;
}

.product:hover {
  border: 1px solid #9b2121;
  transform: scale(1.05);
}

.product:active {
  transform: scale(0.9);
}

.main h3 {
  text-align: center;
  background-color: #9b2121;
  color: #ffffff;
  padding: 5px;
  margin-top: 30px;
}

.marcas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marcas img {
  max-width: 10%;
  height: auto;
  margin-left: 10px;
}

.main h4 {
  text-align: center;
  background-color: #9b2121;
  color: #ffffff;
  padding: 5px;
  margin-top: 10px;
}

@media (max-width: 424px) {
  .marcas img {
    margin-left: 5px;
  }
}
/*--> productos <--*/
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px #9b2121;
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.producto:hover {
  border: 1px solid #9b2121;
  transform: scale(1.05);
}

.producto:active {
  transform: scale(0.9);
}

/*--> arma tu pc <--*/
.armado {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 20px 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px #9b2121;
}

.component {
  margin: 10px;
}

.component h3 {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
}

.component select {
  display: flex;
  margin-left: 5px;
}

.button {
  display: flex;
  flex-direction: row-reverse;
  margin: 12px;
}

/*--> carrito <--*/
.carrito a p {
  margin: 15px;
}

.p-vacio {
  display: flex;
  color: #616161;
  justify-content: space-evenly;
  margin: 50px;
}

.seguircomprando {
  text-decoration: none;
}

.seguir-comprando {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 250px auto;
  padding: 5px;
  border-radius: 7px;
  color: #ffffff;
  background-color: #9b2121;
}

/*--> contacto <--*/
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "mail tel wpp";
  margin: 20px;
  justify-items: center;
}

.mail {
  grid-area: mail;
}

.wpp {
  grid-area: wpp;
}

.tel {
  grid-area: tel;
}

.maps {
  display: flex;
  justify-content: space-around;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "ubi Horario";
  margin: 20px;
  justify-items: center;
}

.ubi {
  grid-area: ubi;
}

.Horario {
  grid-area: Horario;
}

/*--> footer <--*/
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1 1 250px;
  margin-bottom: 20px;
}

.footer-column h5 {
  color: #9b2121;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
}

.social-icons {
  display: flex;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */