/*--> contacto <--*/

.contact {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "mail tel wpp";
    margin: 20px;
    justify-items: center;
  }
  
  .mail { grid-area: mail; }
  
  .wpp { grid-area: wpp; }
  
  .tel { grid-area: tel; }

.maps {
    display: flex;
    justify-content: space-around;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "ubi Horario";
    margin: 20px;
    justify-items: center;
  }
  
  .ubi { grid-area: ubi; }
  
  .Horario { grid-area: Horario; }
  