/*--> contacto <--*/
.contact {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
}

.container-contact-h6 {
    display: flex;
    justify-content: space-around;
}

.container-contact-p {
    display: flex;
    justify-content: space-around;
}

.maps {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
}

.container-info-h6 {
    display: flex;
    justify-content: space-around;
}

.container-info-p {
    display: flex;
    justify-content: space-around;
}